@media screen and (max-width:480px) {


    * {
        animation: none;
        transition: none;
    }




    .tarjetas {
        width: 100%;
        height: 100vh;
        margin-top: 60px;
        margin-right: 20px;
        margin-left: 20px;
        padding: 20px;
        gap: 0px;
        @include flexDos(column,center,center);

        .cardIndex {
            margin-left: 0px;
            margin-right: 0px;
            gap: 0px;
            grid-gap: 0px;
        }
    }


    .titleIndexUno {
        @include flexDos(column,center,center);
        text-align: center;
        font-size: 30px;
    }

    .parragrafIndexUno {
        @include flexDos(column,center,center);
        text-align: center;
        font-size: 15px;
    }

    .titleIndexDos {
        @include flexDos(column,center,center);
        text-align: center;
    }

    .parragrafIndexDos {
        @include flexDos(column,center,center);
        text-align: center;
    }

    .gridNos {
        @include flexDos(column,center,center);

        .titleSectionNos {
            font-size: 50px;
            display: flex;
            justify-content: end;
            align-items: flex-end;
            flex-direction: column;
        }

        .img1 {
            width: 40%;
            @include flexDos(column,center,center);

        }

        .img2 {
            width: 40%;
            @include flexDos(column,center,center);
        }

    }


    .parrafragSection {
        width: 100%;
        @include flexDos(column,center,center);

        .parrafragSectionNos {
            width: 100%;
            @include flexDos(column,center,center);

        }

    }


    .navBarSec {
        width: 50%;
        height: 100vh;
        @include flexDos(column,center,center);
    }

    .imgContainer {
        @include flexDos(column,center,center);

        .imgpo2 {
            padding-right: 30px;
            padding-left: 30px;
        }

        .imgpo5 {
            padding-right: 30px;
            padding-left: 30px;
        }

    }



    .titleSectionServ {
        font-size: 50px;
    }

    .parragrafSectionServ {
        text-align: center;
        font-size: 14px;
    }

    .containerSrv {
        @include flexDos(column,center,center);

        .ic1 {
            width: 40%;
            padding: 10px;
        }

        .ic2 {
            width: 40%;
            padding: 10px;
        }

        .ic3 {
            width: 40%;
            padding: 10px;
        }

        .ic4 {
            width: 40%;
            padding: 10px;
        }
    }



    .sectionForm {

        padding: 30px;

    }
}
