.sectionForm {
    background-color: rgba(96, 132, 114, 0.699);
    font-family: 'Roboto', sans-serif;

    .textForm {
        text-transform: uppercase;
        font-size: 12px;
        margin-right: 10px;
        text-align: center;
    }

    .textFormDos {
        font-size: 12px;
        margin-top: 10px;
        text-align: center;
    }

    .textFormTres {
        font-size: 18px;
        margin-top: 10px;
    }

    .btnForm {
        margin-top: 40px;
    }

}