.titleSectionNos {
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    color: rgb(31, 53, 36);
    margin-right: 80px;
    margin-top: 40px;

}

.img1 {
    width: 20%;
    padding: 10px;
    margin-bottom: 50px;
    margin-left: 180px;
}

.img2 {
    width: 20%;
    padding: 10px;
    margin-bottom: 50px;
    margin-left: 180px;
}

.parragrafSection {
    background-color: rgb(31, 53, 36);
    height: 40vh;
    padding: 20px;
    text-align: center;
    
}

.parragrafSectionNos {
    background-color: rgb(31, 53, 36);
    height: 20vh;
    padding: 20px;
    text-align: center;
}