.titleSectionNos {
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    color: rgb(31, 53, 36);
    margin-right: 80px;
    margin-top: 60px;
    margin-bottom: 0;
    

}

.img1 {
    width: 20%;
    padding: 10px;
    margin-bottom: 50px;
    margin-left: 180px;
}

.img2 {
    width: 20%;
    padding: 10px;
    margin-bottom: 50px;
    margin-left: 180px;
}


.parragrafSectionNos {
    background-color: rgb(31, 53, 36);
    width: 50%;
    height: 70vh;
    padding: 20px;
    align-items: center;
}

.containerNos{
    
    @include flexDos(column,end,end)
    
}