.imagenSection {
    background-image: url(./../images/bckgrimg.jpg);
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;

    .titleSectionServ {
        font-family: 'Roboto', sans-serif;
        font-size: 55px;
    
    }
    
    .parragrafSectionServ {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
    
    }

}

.ic1 {
    width: 35%;
    margin: 50px;
}

.ic2 {
    width: 35%;
    margin: 50px;
}

.ic3 {
    width: 35%;
    margin: 50px;
}

.ic4 {
    width: 35%;
    margin: 50px;
}

.parragrafIco1 {
    padding: 10px;
    margin-bottom: 15px;
}

.parragrafIco2 {
    padding: 10px;
    margin-bottom: 15px;
}

.parragrafIco3 {
    padding: 10px;
    margin-bottom: 15px;
}

.parragrafIco4 {
    padding: 10px;
    margin-bottom: 15px;
}