@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100;300 & display=swap');

$fontRoboto: 'Roboto', sans-serif;

@import url('https://fonts.googleapis.com/css2? family= Allura & display=swap');

$fontAllura: 'Allura', cursiva;

$mainColor: rgb(31, 53, 36);
$secondaryColor: rgb(142, 168, 156);